APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:9000
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync


QUADX_API_URL=https://api.staging.quadx.xyz/
AUTHORIZATION_CODE= "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMTc4ODVlMTk3OGU4ODM1MzgiLCJ1dWlkIjoiUEI5Z0Y1dXVDVGNHdGlZQzRJaDdjYTJxU1ZQMiIsImlhdCI6MTU3ODcyNzY1Nn0.6LeAEGTtQLu8o6wHYaTOzANQV_9Tg6Qua1kG4E5HBPE"